PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/?appName=ExpenseCluster

# OAuth2 provider settings
OAUTH_PROVIDER_NAME=Google
OAUTH_CLIENT_ID=your-client-id
OAUTH_CLIENT_SECRET=your-client-secret
OAUTH_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token
OAUTH_USERINFO_URL=https://openidconnect.googleapis.com/v1/userinfo
OAUTH_REDIRECT_URI=http://localhost:3000/auth/callback
OAUTH_SCOPE=openid email profile
